#header {
	border-style: solid;
	border-color: silver;
	color: white;
	background-color: #CF0000;
	padding: 10px;
	border-radius: 3px;
}

#header h1{
	padding: none;
	margin: 0;
}

#header h4{
	margin: 0;
}

#header li{
	display: inline;
}

#tasks > li{
	list-style-type: upper-roman;
	
}